
.container{
    height: 100vh;
    margin-top: 5vh;
}
.header{
   padding:0;
}
.title{
    margin-top: 20px;
    color:#2D9F86;
}
.backContainer{
    cursor:pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.backText{
    color:#2D9F86;
    font-size: 20px;
    padding:0;
    vertical-align: middle;
    text-shadow:0 1px 1px rgb(0 0 0 / 20%);
    font-weight: 400;
}
.buttonGroup{
    display: flex;
    justify-content: space-between;
}

.alert{
    color:#CB4C4E;
    font-size: 14px;
   margin-left: 10px;
}